body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #e6d9d7;
    color: #333;
    font-size: 20px; /* Increased font size for easier reading */
}

header {
    background: #35424a;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

section {
    background: #fff;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
}

h2 {
    color: #35424a;
    margin-bottom: 10px;
}

p.description {
    color: #555;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

section > div {
    margin-bottom: 25px;
}

div.question {
    margin-bottom: 30px;
}

input[type="radio"] {
    margin-right: 10px;
}

button {
    background: #35424a;
    color: #fff;
    border: 0;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    display: block;
    margin: 20px auto;
    font-size: 18px; /* Increased font size for easier reading */
}

#results {
    text-align: center;
    margin: 20px;
}
